.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  /* font-size: 24px;
  line-height: 28px; */
  /* identical to box height, or 117% */

  text-align: right;
  /* text-decoration-line: underline; */

  /* width: inherit; */
  /* height: 28px; */

  color: #FFFFFF;
  background-color: green;
}

@media screen and (max-width: 499px){
  .header__lang-link {
    height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 500px){
  .header__lang-link {
    height: 28px;
    font-size: 24px;
    line-height: 28px;
  }
}
