.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  /* background-color: green; */
}

@media screen and (max-width: 500px){
  .place__title {
    margin: 0 16px 32px 16px;
    font-size: 32px;
    line-height: 1.09;
    width: calc(100% - 32px);
  }
}

@media screen and (min-width: 500px) and (max-width: 768px){
  .place__title {
    margin: 0 20px 32px 20px;
    font-size: 38px;
    line-height: 1.1;
    width: calc(100% - 40px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .place__title {
    margin: 0 28px 0 0;
    width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .place__title {
    margin: 0 32px 0 0;
    width: 440px;
    font-size: 72px;
    line-height: 1.06;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    margin: 0 40px 0 0;
    width: 460px;
    font-size: 72px;
    line-height: 1.06;
  }
}
