/* intro: Все элементы страницы хранятся в родительском блоке с
минимальной шириной 1100px и максимальной шириной 1600px.
- Контент идет по сетке.
- normalize.css не убирает margin и padding у некоторых текстовых элементов.
- Сбрасывайте эти отступы на уровне блока.
- не должно быть расстояний, унаследованных от
браузера */


.page {
  position: relative;
  min-width: 1280px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* max-width: 1280px; */
  /* выше установили ограничение по максимальной ширине */
  height: 6895px;
  margin: 0 auto;
  padding:0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #2A2C2F;


}
