.places {
  display: flex;
  flex-direction: column;
  margin: 0 11.56% 92px 11.56%;
}

@media screen and (max-width: 1279px){
  .places {
    margin: 0 4.69% 92px 4.69%;
  }
}

@media screen and (max-width: 1023px){
  .places {
    margin: 0 3.12% 90px 3.12%;
  }
}

@media screen and (max-width: 767px){
  .places {
    max-width: 100%;
    margin: 0 0 72px 0;
  }
}

@media screen and (max-width: 500px){
  .places {
    margin: 0 0 66px 0;
  }
}
