.header__lang {
  gap: 18px;
  align-content: flex-end;
}

@media screen and (max-width: 500px){
  .header__lang {
    display: grid;
    grid-template-columns: 22px 22px;
  }
}

@media screen and (min-width: 500px){
  .header__lang {
    display: grid;
    grid-template-columns: 30px 30px;
  }
}
