.footer__columns {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
}

@media screen and (min-width: 768px){
  .footer__columns {
    margin: 0 auto;
    flex-direction: row;
    width: calc(100vw - 48px);
  }
}

@media screen and (min-width: 1024px){
  .footer__columns {
    margin: 0 auto;
    width: calc(100vw - 96px);
  }
}
