.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  /* width: 690px;
  height: 90px; */

  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  /* or 18px% */


  color: #FFFFFF;
  /* background-color: red; */
}

@media screen and (max-width: 499px){
  .intro__list {
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .intro__list {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__text {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .intro__list {
    width: 690px;
    height: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__list {
    width: 690px;
    height: 90px;
  }
}
