.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  /* width: 690px;
  height: 90px; */

  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  /* or 18px% */

  color: #FFFFFF;
  /* background-color: red; */
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px){
  .intro__list {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
  }
}
