.place__text {
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 499px){
  .place__text {
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .place__text {
    margin: 0 20px 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__text {
    margin: 0 24px 0 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .place__text {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place__text {
    margin-bottom: 80px;
  }
}
