.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
}

@media screen and (min-width: 768px){
  .footer__link {
    margin: 0 18px 0 0;
    font-size: 16px;
    line-height: 1.12;
  }
}
