.lead__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  /* width: 720px;
  height: 200px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  /* font-size: 96px;
  line-height: 100px; */
  /* or 104% */

  text-align: center;

  color: white;

  background-color: red;
}

@media screen and (max-width: 767px){
  .lead__title {
    margin-bottom: 16px;
    width: 288px;
    height: 88px;
    font-size: 40px;
    /* line-height: 44px; */
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px){
  .lead__title {
    margin-bottom: 32px;
    width: 720px;
    height: 200px;

    font-size: 96px;
    /* line-height: 100px; */
    line-height: 1.04;

  }
}
