.lead__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  /* width: 720px;
  height: 200px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  /* font-size: 96px;
  line-height: 100px; */
  /* or 104% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  text-align: center;
  align-self: center;

  color: white;

  /* background-color: red; */
}

@media screen and (max-width: 767px){
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    /* height: 88px; */
    font-size: 40px;
    /* line-height: 44px; */
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px){
  .lead__title {
    margin-bottom: 32px;
    max-width: 720px;
    /* height: 200px; */

    font-size: 96px;
    /* line-height: 100px; */
    line-height: 1.04;

  }
}
