.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  /* or 29px */

  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}
.place__paragraph:nth-of-type(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px){
  .place__paragraph {
    font-size: 16px;
  }
}
