.intro__text {
  margin: 0 0 33px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: white;
  text-rendering: optimizeLegibility;
}

  @media screen and (max-width: 1023.9px){
    .intro__text {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1024px){
    .intro__text {
      max-width: 690px;
    }
  }
