.intro {
  max-width: calc(100% - 32px);
  margin: 0 16px 64px 16px;
}

@media screen and (min-width: 501px){
  .intro {
    max-width: calc(100% - 40px);
    margin: 0 20px 70px 20px;
  }
}

@media screen and (min-width: 768px){
  .intro {
    max-width: calc(100% - 48px);
    margin: 0 24px 88px 24px;
  }
}

@media screen and (min-width: 1024px){
  .intro {
    max-width: 690px;
    margin: 0 auto 92px 4.69%;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 0 auto 92px 11.56%;
  }
}
