.lead__subtitle {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  align-self: center;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
  margin-bottom: 40px;
  max-width: 288px;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 768px){
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 64px;
  }
}
