.cover {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 1184px;
  height: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 100%; */
  /* padding-bottom:  62.5%; */

  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  /* background-size: 1184px 740px; */

  background-size: 100% 100%;
  position: relative;
  object-fit: contain;
}

@media screen and (max-width: 499px){
  .cover {
    width: 100%;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .cover {
    width: 100%;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .cover {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover {
    width: 100%;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .cover {
    width: 100%;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px){
  .cover {
    width: calc(100% - 96px);
    margin: 0 48px 92px 48px;
  }
}
