.cover {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 92px;
  width: 1184px;
  height: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: 1184px 740px; */
}
