.cover {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  object-fit: contain;
}

@media screen and (max-width: 500px){
  .cover {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px){
  .cover {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .cover {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px){
  .cover {
    width: calc(100% - 96px);
    margin: 0 48px 92px 48px;
  }
}
