.cover__title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  text-align: center;
  color: #FFFFFF;
  z-index: 4;
  opacity: 1;
}

@media screen and (max-width: 320px){
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px){
  .cover__title {
    max-width: 340px;
    font-size: 40px;
    line-height: 1.09;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px){
  .cover__title {
    max-width: 460px;
    font-size: 54px;
    line-height: 1.06;
  }
}

@media screen and (min-width: 768px){
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 32px;
  }
}
