.place {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px 0;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (min-width: 501px){
  .place {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px){
  .place {
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
  }
}
