.place__website {
  /* width: 456px;
  height: 46px; */
  display: flex;
  flex-direction: column;

  /* background-color: blue; */
}

@media screen and (max-width: 499px){
  .place__website {
    margin: 0 16px 0 16px;
    max-width: calc(100% - 32px);
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .place__website {
    margin: 0 20px 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__website {
    margin: 0;

    max-width: 352px;
    height: 46px;

  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    margin: 0;
    max-width: 456px;
    height: 46px;
  }
}
