.intro__title {
  margin: 0 0 40px 0;

  /* width: 690px;
  height: 58px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  /* font-size: 54px;
  line-height: 58px; */
  /* identical to box height, or 107% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;


  color: #FFFFFF;
}

@media screen and (max-width: 499px){
  .intro__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 1.09;
    /* 35px */
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .intro__title {
    max-width: 100%;
    font-size: 50px;
    line-height: 1.07;
    /* line-height: 58px; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__title {
    max-width: 100%;
    font-size: 54px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .intro__title {
    max-width: 690px;
    font-size: 54px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    max-width: 690px;
    font-size: 54px;
    line-height: 1.07;
  }
}
